
#chess-app {
  height: 100%;
  padding-top: 30px;
}
#board {
  position: relative;
  margin: auto;
  width: 400px;
  border: 2px solid #000;
  margin-top: 35px;
}

h1 {
  text-align: center;
  font-size: 30px;
}

.restart {
  text-align: center;
  width: 100px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  background-color: #D7FFE5;
  border: 1px solid #000;
  border-radius: 3px;
}

.restart:hover {
  cursor: pointer;
  background-color: #92D7AA;
}

.about {
  width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.about-list > li {
  margin-top: 10px;
}

.about-header{
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 15px;
  display:block;
}

.row {
  display: block;
  width: 400px;
}

.tile {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  float: left;
  position: relative;
}

.light {
  background-color: #F7E3DC;
}

.dark {
  background-color: #965D4A;
}

.turn-message {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.mate-message {
  font-weight: bold;
  display: block;
  position: absolute;
  top: 175px;
  left: 75px;
  color: #C80000;
  z-index: 10;
  font-size: 45px;
}

.piece-image {
  position: relative;
  right: 1px;
  height: 50px;
  width: 50px;
  display: block;
}

footer {
  color: #eee;
  width: 600px;
  margin: auto;
  padding-top: 30px;
  display: block;
}

.links-list {
  padding-top: 20px;
  display: block;
  margin-left: 150px;
}

footer > ul > li {
  float: left;
  padding: 10px;
  margin-right: 40px;
  color: #4B6CCA;
  display: inline-block;
}

footer > ul > li > a:hover {
  cursor: pointer;
  color: #000;
}

.last-move-border {
  border: 2px solid #FFFF00;
}

.last-move-border > .piece-image {
  right: 2.5px;
  bottom: 2px;
}
