
#chess-app {
  height: 100%;
  padding-top: 30px;
}
#board {
  margin: auto;
  width: 400px;
  border: 2px solid #000;
  margin-top: 35px;
}

h1 {
  text-align: center;
  font-size: 30px;
}

.restart {
  text-align: center;
  width: 100px;
  margin: auto;
  margin-top: 30px;
  padding: 20px;
  background-color: #D7FFE5;
  border: 1px solid #000;
  border-radius: 3px;
}

.restart:hover {
  cursor: pointer;
  background-color: #92D7AA;
}

.about {
  width: 600px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 20px;
}

.about-list > li {
  margin-top: 10px;
}

.about-header{
  font-weight: bold;
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 15px;
  display:block;
}

.row {
  display: block;
  width: 400px;
}

.tile {
  width: 50px;
  height: 50px;
  float: left;
  position: relative;
}

.light {
  background-color: #F7E3DC;
}

.dark {
  background-color: #965D4A;
}

.turn-message {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.piece-image {
  position: relative;
  right: 1px;
  height: 50px;
  width: 50px;
  display: block;
}
